<div class="top-menu1-wrap">
  <div class='top-rogo'>rogo</div>
  <div class="top-menu1">
    <h1>指田工務店</div>
    <ul class="menu-lists">
      <h1>◆ menu</h1>
      <li class='menu-list'>
        Home
      </li>
      <li class='menu-list'>
        会社概要
      </li>
      <li class='menu-list'>
        事例紹介
      </li>
      <li class='menu-list'>
        スタッフ紹介
      </li>
      <li class='menu-list'>
        資料請求
      </li>
      <li class='menu-list'>
        お問い合わせ/アクセス
      </li>
    </ul>
  </div>
</div>